In [14]:
import pandas as pd
from oam.score.isolation_path import IsolationPath
from oam.search.simple_combination import SimpleCombination

In [15]:
gmc_df = pd.read_csv('../data/gmc_temporal_prepared.csv').drop(columns=['outlier','data','previstas','OCORRENCIAS_ATENDIDAS'])

In [16]:
gmc_df['x1_time'] = gmc_df['x1_time'] / gmc_df['x1_time'].max()
gmc_df['x2_lag1'] = gmc_df['x2_lag1'] / gmc_df['x2_lag1'].max()
gmc_df['x3_lag2'] = gmc_df['x3_lag2'] / gmc_df['x3_lag2'].max()
gmc_df['x5_lag4'] = gmc_df['x5_lag4'] / gmc_df['x5_lag4'].max()
gmc_df['x7_lag6'] = gmc_df['x7_lag6'] / gmc_df['x7_lag6'].max()
gmc_df['x8_lag7'] = gmc_df['x8_lag7'] / gmc_df['x8_lag7'].max()
# gmc_df['OCORRENCIAS_ATENDIDAS'] = gmc_df['OCORRENCIAS_ATENDIDAS'] / gmc_df['OCORRENCIAS_ATENDIDAS'].max()

In [17]:
gmc_df.head()

,x0_final_de_semana,x1_time,x2_lag1,x3_lag2,x4_lag3,x5_lag4,x6_lag5,x7_lag6,x8_lag7,x10_feriado,x11_pandemia
0,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,1,0
1,0,0.000208,0.049505,0.000000,0.0,0.000000,0.0,0.0,0.0,0,0
2,1,0.000416,0.133663,0.049505,0.0,0.000000,0.0,0.0,0.0,0,0
3,1,0.000624,0.158416,0.133663,30.0,0.000000,0.0,0.0,0.0,0,0
4,0,0.000832,0.153465,0.158416,81.0,0.049505,0.0,0.0,0.0,0,0

In [22]:
ipath1 = IsolationPath(subsample_size=2000, number_of_paths=100)
ipath2 = IsolationPath(subsample_size=500, number_of_paths=250)

In [23]:
search1 = SimpleCombination(
  ipath1,
  min_items_per_subspace=2,
  max_items_per_subspace=4,
  dimensions=gmc_df.columns.values
)

In [24]:
search2 = SimpleCombination(
  ipath2,
  min_items_per_subspace=2,
  max_items_per_subspace=4,
  dimensions=gmc_df.columns.values
)

### 30 Maio 2019 - Chuvas 3801

In [25]:
search1.search(gmc_df, 3801)

100%|██████████| 550/550 [10:20<00:00,  1.13s/it]

,subspace,score,subspace_size
61,"[x0_final_de_semana, x1_time, x8_lag7]",12.600000,3
134,"[x1_time, x8_lag7, x11_pandemia]",12.780000,3
254,"[x0_final_de_semana, x1_time, x8_lag7, x11_pan...",13.180000,4
16,"[x1_time, x8_lag7]",13.320000,2
9,"[x0_final_de_semana, x11_pandemia]",13.376428,2
...,...,...,...
433,"[x2_lag1, x3_lag2, x5_lag4, x10_feriado]",24.600000,4
480,"[x3_lag2, x4_lag3, x5_lag4, x6_lag5]",24.930000,4
431,"[x2_lag1, x3_lag2, x5_lag4, x7_lag6]",25.000000,4
446,"[x2_lag1, x4_lag3, x5_lag4, x7_lag6]",25.080000,4
435,"[x2_lag1, x3_lag2, x6_lag5, x7_lag6]",25.130000,4

In [26]:
search2.search(gmc_df, 3801)

  0%|          | 0/550 [00:00<?, ?it/s]/home/radek/TCC/venv/lib/python3.8/site-packages/pandas/core/dtypes/cast.py:881: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  element = np.asarray(element)
100%|██████████| 550/550 [19:19<00:00,  2.11s/it]

,subspace,score,subspace_size
134,"[x1_time, x8_lag7, x11_pandemia]",10.500000,3
9,"[x0_final_de_semana, x11_pandemia]",10.600603,2
16,"[x1_time, x8_lag7]",10.696000,2
8,"[x0_final_de_semana, x10_feriado]",10.835337,2
254,"[x0_final_de_semana, x1_time, x8_lag7, x11_pan...",10.884000,4
...,...,...,...
455,"[x2_lag1, x4_lag3, x7_lag6, x10_feriado]",19.256000,4
296,"[x0_final_de_semana, x3_lag2, x6_lag5, x8_lag7]",19.340000,4
508,"[x3_lag2, x6_lag5, x8_lag7, x10_feriado]",19.476000,4
437,"[x2_lag1, x3_lag2, x6_lag5, x10_feriado]",19.492000,4
487,"[x3_lag2, x4_lag3, x6_lag5, x10_feriado]",19.660000,4

## 20 Março 2021 - 4461

In [27]:
search1.search(gmc_df, 4461)

  0%|          | 0/550 [00:00<?, ?it/s]/home/radek/TCC/venv/lib/python3.8/site-packages/pandas/core/dtypes/cast.py:881: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  element = np.asarray(element)
100%|██████████| 550/550 [05:02<00:00,  1.82it/s]

                                          subspace  score subspace_size
4                    [x0_final_de_semana, x5_lag4]   4.81             2
86          [x0_final_de_semana, x5_lag4, x7_lag6]   5.04             3
88      [x0_final_de_semana, x5_lag4, x10_feriado]   5.38             3
89     [x0_final_de_semana, x5_lag4, x11_pandemia]   5.40             3
6                    [x0_final_de_semana, x7_lag6]   5.72             2
..                                             ...    ...           ...
419  [x1_time, x6_lag5, x10_feriado, x11_pandemia]  13.39             4
396       [x1_time, x4_lag3, x6_lag5, x10_feriado]  13.46             4
135           [x1_time, x10_feriado, x11_pandemia]  13.99             3
128                [x1_time, x6_lag5, x10_feriado]  14.28             3
17                          [x1_time, x10_feriado]  14.48             2

[550 rows x 3 columns]

In [28]:
search2.search(gmc_df, 4461)

  0%|          | 0/550 [00:00<?, ?it/s]/home/radek/TCC/venv/lib/python3.8/site-packages/pandas/core/dtypes/cast.py:881: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  element = np.asarray(element)
100%|██████████| 550/550 [09:36<00:00,  1.05s/it]

                                          subspace   score subspace_size
4                    [x0_final_de_semana, x5_lag4]   3.660             2
6                    [x0_final_de_semana, x7_lag6]   3.780             2
86          [x0_final_de_semana, x5_lag4, x7_lag6]   3.808             3
49                              [x7_lag6, x8_lag7]   3.904             2
94          [x0_final_de_semana, x7_lag6, x8_lag7]   4.032             3
..                                             ...     ...           ...
419  [x1_time, x6_lag5, x10_feriado, x11_pandemia]   9.896             4
18                         [x1_time, x11_pandemia]   9.904             2
62      [x0_final_de_semana, x1_time, x10_feriado]  10.512             3
135           [x1_time, x10_feriado, x11_pandemia]  10.812             3
17                          [x1_time, x10_feriado]  11.904             2

[550 rows x 3 columns]

### 11 Julho 2020 - 4209

In [29]:
search1.search(gmc_df, 4209)

  0%|          | 0/550 [00:00<?, ?it/s]/home/radek/TCC/venv/lib/python3.8/site-packages/pandas/core/dtypes/cast.py:881: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  element = np.asarray(element)
100%|██████████| 550/550 [05:21<00:00,  1.71it/s]

                                              subspace  score subspace_size
6                        [x0_final_de_semana, x7_lag6]   5.68             2
86              [x0_final_de_semana, x5_lag4, x7_lag6]   5.98             3
4                        [x0_final_de_semana, x5_lag4]   6.14             2
68              [x0_final_de_semana, x2_lag1, x7_lag6]   6.21             3
325  [x0_final_de_semana, x5_lag4, x7_lag6, x10_fer...   6.23             4
..                                                 ...    ...           ...
193                   [x4_lag3, x6_lag5, x11_pandemia]  15.89             3
116                        [x1_time, x4_lag3, x6_lag5]  16.12             3
192                    [x4_lag3, x6_lag5, x10_feriado]  16.32             3
530      [x4_lag3, x6_lag5, x10_feriado, x11_pandemia]  16.34             4
396           [x1_time, x4_lag3, x6_lag5, x10_feriado]  16.54             4

[550 rows x 3 columns]

In [30]:
search2.search(gmc_df, 4209)

  0%|          | 0/550 [00:00<?, ?it/s]/home/radek/TCC/venv/lib/python3.8/site-packages/pandas/core/dtypes/cast.py:881: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  element = np.asarray(element)
100%|██████████| 550/550 [11:53<00:00,  1.30s/it]

                                            subspace   score subspace_size
6                      [x0_final_de_semana, x7_lag6]   3.892             2
86            [x0_final_de_semana, x5_lag4, x7_lag6]   4.216             3
96       [x0_final_de_semana, x7_lag6, x11_pandemia]   4.260             3
68            [x0_final_de_semana, x2_lag1, x7_lag6]   4.312             3
324  [x0_final_de_semana, x5_lag4, x7_lag6, x8_lag7]   4.348             4
..                                               ...     ...           ...
530    [x4_lag3, x6_lag5, x10_feriado, x11_pandemia]  11.960             4
14                                [x1_time, x6_lag5]  11.968             2
17                            [x1_time, x10_feriado]  12.052             2
396         [x1_time, x4_lag3, x6_lag5, x10_feriado]  12.240             4
128                  [x1_time, x6_lag5, x10_feriado]  12.844             3

[550 rows x 3 columns]